body{
    background-color: #FBF6F3;
}

.hr2{
    display: flex;
    width: 80%;
    margin: 0 auto;
}

hr{
    height: 2px;
    margin-top: auto;
    margin-bottom: auto;
    width: 10%;
}

#hr-img{
    padding: 0 3%;
}

.container {
    width: 70%;
}

.card {
    border-color:rgba(0, 0, 0, 0);
    padding: 2%;
    background-color: rgba(255, 228, 196, 0);
}
